<div class="dashboard-container">
  <h1>My Dashboard</h1>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
      <nz-card>
        <nz-statistic
          [nzValue]="0"
          [nzTitle]="'Open Tickets'"
          [nzPrefix]="prefixTpl"
        />
        <ng-template #prefixTpl>
          <i nz-icon nzType="file-text" nzTheme="outline"></i>
        </ng-template>
      </nz-card>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
      <nz-card>
        <nz-statistic
          [nzValue]="0"
          [nzTitle]="'In Progress'"
          [nzPrefix]="progressTpl"
          [nzValueStyle]="{ color: '#1890ff' }"
        />
        <ng-template #progressTpl>
          <i nz-icon nzType="sync" nzTheme="outline"></i>
        </ng-template>
      </nz-card>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
      <nz-card>
        <nz-statistic
          [nzValue]="0"
          [nzTitle]="'Resolved'"
          [nzPrefix]="resolvedTpl"
          [nzValueStyle]="{ color: '#52c41a' }"
        />
        <ng-template #resolvedTpl>
          <i nz-icon nzType="check-circle" nzTheme="outline"></i>
        </ng-template>
      </nz-card>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
      <nz-card>
        <nz-statistic
          [nzValue]="0"
          [nzTitle]="'Total Tickets'"
          [nzPrefix]="totalTpl"
        />
        <ng-template #totalTpl>
          <i nz-icon nzType="inbox" nzTheme="outline"></i>
        </ng-template>
      </nz-card>
    </div>
  </div>

  <nz-card nzTitle="Recent Tickets" class="recent-tickets-card">
    <p>No tickets yet. Create your first ticket to get started.</p>
  </nz-card>
</div>
